{% extends "layout.html" %}

{% block content %}
	<div class="container-fluid">
	    <p>
	    <div id="invite-form" class="row">
		    <div class="col-sm-10">
			    <form id="share-details" class="form-inline">
	    			<h4>Send Invites to your Guests</h4>
				    {% for invite in invites %}
				      <div class="form-group">
				        <label for="inputName">Name</label>
				        <input type="text" class="form-control" name="invitee{{ invite }}[name]" id="inputName{{invite}}" placeholder="Name...">
				      </div>
				      <div class="form-group">
				        <label for="inputEmail">Email</label>
				        <input type="email" class="form-control" name="invitee{{ invite }}[email]" id="inputEmail{{invite}}" placeholder="dedes1821@gmail.com">
				      </div>
				      <div class="form-group">
				        <label for="inputPhone">Phone Number</label>
				        <input type="phone" class="form-control" name="invitee{{ invite }}[phone]" id="inputPhone{{invite}}" placeholder="+12016931006">
				      </div>
				    {% endfor %}
				    <br><br>
				    <button type="submit" class="btn btn-default">Send invitations</button>
			    </form>
		    </div>	
		</div>


		<div class="row">
			<div class="col-md-6 testvid">
				<div class="row">
				    {% for invite in invites %}
					    {% if invite%4 !== 0 %}
							<div class="col-xs-8 col-sm-6 testinner"><div id="guest-vid{{invite}}">{{invite}}</div></div>
					    {% endif %}
				    {% endfor %}
					<div class="col-xs-8 col-sm-6 testinner"><video id="localVideoHost" autoplay></video></div>
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
    </div>	
		
{% endblock %}
