{% extends "layout.html" %}

{% block content %}
	<div class="container">
	    <p>
	    <h4>Send Invites to your Guests</h4>
	    <div id="invite-form">
		    <form id="share-details" class="form-inline">
			    {% for invite in invites %}
			      <div class="form-group">
			        <label for="inputName">Name</label>
			        <input type="text" class="form-control" name="invitee{{ invite }}[name]" id="inputName{{invite}}" value="Name...">
			      </div>
			      <div class="form-group">
			        <label for="inputEmail">Email</label>
			        <input type="email" class="form-control" name="invitee{{ invite }}[email]" id="inputEmail{{invite}}" value="peter@gmail.com">
			      </div>
			      <div class="form-group">
			        <label for="inputPhone">Phone Number</label>
			        <input type="phone" class="form-control" name="invitee{{ invite }}[phone]" id="inputPhone{{invite}}" value="+12014444444">
			      </div>
			    {% endfor %}
			    <br><br>
			    <button type="submit" class="btn btn-default">Send invitations</button>
		    </form>
		</div>
	    <div id="video-section">
		    <video id="localVideoHost" autoplay></video>
	    </div>
    </div>	
{% endblock %}
