<!DOCTYPE html>
<html>
  <head>
    <title>BoomVideo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  	              <span class="sr-only">Toggle navigation</span>
  	              <span class="icon-bar"></span>
  	              <span class="icon-bar"></span>
  	              <span class="icon-bar"></span>
  	        </button>
  	         <a class="navbar-brand" href="#">BoomVideo</a>
  	    </div>
  	  </div>
  	</nav>
    {% block content %}{% endblock %}
  </body>
	<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/jquery-serialize-object/dist/jquery.serialize-object.min.js"></script>
	<script type="text/javascript" src="/lodash/lodash.min.js"></script>
	<script type="text/javascript" src="/diff-patch/diff_match_patch_uncompressed.js"></script>
	<script src="/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="https://cdn.icecomm.io/icecomm.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<div id="editor" style="display: none;">
// Work on code together with your guests

function boom (dynamite) {
    var x = "boom goes the " + dynamite;
    return x;
}</div>

	<script>
	  var socket = io(window.location.origin);
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });
	  socket.on('route test', function(data) {
	  	console.log(data);
	  });
	  socket.on('guest joined room', function(data) {
	  	console.log('a guest joined room ', data.room);
	  });
	</script>

	<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/monokai");
	    editor.getSession().setMode("ace/mode/javascript");
	    editor.getSession().setTabSize(4);
	    editor.getSession().on('change', function(e) {
	        // console.log("something changed in the editor");
	        console.log("Latest version: ", editor.getValue());
	    });
	</script>

	<script type="text/javascript" src="/javascripts/frontpage.js"></script>
</html>