body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #7bdef5;
}

a {
  color: #00B7FF;
}

video {
    height: 150px;
    width: 225px;
}

.testvid {
  left: 0;
  top: 0;
  background-color: #7bdef5;
}

.testinner {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #7bdef5;
}

/*vid-box {
	width: 100%;
}*/

#localVideoHost {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 275px;
  z-index: 1000;
}

#editor { 
  position: absolute;
  height: 100%;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 50%;
}

#invite-form {
  right: 50%;
}




