body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #7bdef5;
}

a {
  color: #00B7FF;
}

video {
    height: 250px;
    width: 250px;
}

/*vid-box {
	width: 100%;
}*/

#localVideoHost {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 350px;
  z-index: 1000;
}
#localVideo1 {
  position: absolute;
  left: 50px;
  z-index: -100;
  top: 50px;
  width: 350px;
}
#localVideo2 {
  position: absolute;
  left: 50px;
  z-index: -100;
  bottom: 50px;
  width: 350px;
}
#localVideo3 {
  position: absolute;
  right: 50px;
  z-index: -100;
  top: 50px;
  width: 350px;
}

#editor { 
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 50%;
}

#invite-form {
  right: 50%;
}

/*video[src^="blob"] {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 50%; min-height: 50%;
  width: 200px; 
  height: 200px; 
  z-index: -100;
  background-size: cover;
}*/
/* 
video:nth-of-type(2) {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 50%; min-height: 50%;
  width: 200px; 
  height: 200px; 
  z-index: -100;
  background-size: cover;
}*/